VITE_SUPABASE_URL=https://cbtjzpmalprnmbwizqaj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNidGp6cG1hbHBybm1id2l6cWFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyNjQ0NzMsImV4cCI6MjEwMDg0MDQ3M30.-z-Jh8LgO-DdR6KKHfiyR3RXfjKmAHfG7p4iCkLit-o
